


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Prescription Drug Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto row ">
     <div class="col" style="margin-top: 30px;" > <a href="index.html" ><img src="assets/img/combined/pdms11.jpg" alt="" class="img-fluid"></a></div>
   
     <p class="lead" style="margin-left: 58px;
     margin-top: -30px;
     color: green;">
      Prescription Drug Management System
    
    </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/doctorlogin">Doctor Login</a>
              <a class="dropdown-item" href="/pharmacistlogin">pharmacist login</a>
              <a class="dropdown-item" href="/login">patient login</a>
              <a class="dropdown-item" href="/adminlogin">Admin login</a>


            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/patientSignup">Patient Register</a>
              <a class="dropdown-item" href="/admin-doctorregistration-home">Doctor Register</a>
              <a class="dropdown-item" href="/admin-pharmasistregistration-home">Pharmasist Register</a>
              <a class="dropdown-item" href="/admin-register">Admin Register</a>

            </div>
          </li>
          <li><a class="nav-link scrollto active" routerLink="/aboutus">About Us</a></li>
          <li><a class="nav-link scrollto active" routerLink="/contactus">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>PDMS</span></h2>
              <p class="animate__animated animate__fadeInUp"> The Prescription Drug Management System is developed to automate all the works which
                are handled by doctors for prescribing medicines to the patients to reduce the work that is
                Done manually now. The Prescription Drug Management System is handled by four mains
                Users’ doctors, pharmacist, patients and admin. </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Hero -->


  

</body>

</html>